In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
inspector = inspect(engine)
inspector.get_table_names()
Measurementcolumns = inspector.get_columns('measurement')
for column in Measurementcolumns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

# Exploratory Climate Analysis

In [11]:
FirstMeasurementRow = session.query(Measurement).first()
FirstMeasurmentDict = FirstMeasurementRow.__dict__
s=(FirstMeasurmentDict['date'])
year = s[0:4]
month = s[5:7]
day = s[8:]
fulldate = year+month+day
a = dt.date(int(year),int(month),int(day))
print(a, type(a))


# #print's today's date:
# print (dt.date.today())

2010-01-01 <class 'datetime.date'>

In [12]:
FirstStationRow = session.query(Station).first()
FirstStationRow.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2ca3f0665c0>,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'elevation': 3.0,
 'latitude': 21.2716,
 'station': 'USC00519397'}

In [13]:
FirstMeasurmentDict

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2ca3f066198>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'id': 1,
 'tobs': 65.0,
 'date': '2010-01-01'}

In [14]:
for row in session.query(Station.id, Station.name).limit(9).all():
    print(row)

(1, 'WAIKIKI 717.2, HI US')
(2, 'KANEOHE 838.1, HI US')
(3, 'KUALOA RANCH HEADQUARTERS 886.9, HI US')
(4, 'PEARL CITY, HI US')
(5, 'UPPER WAHIAWA 874.3, HI US')
(6, 'WAIMANALO EXPERIMENTAL FARM, HI US')
(7, 'WAIHEE 837.5, HI US')
(8, 'HONOLULU OBSERVATORY 702.2, HI US')
(9, 'MANOA LYON ARBO 785.2, HI US')

In [15]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
p=[]
for row in session.query(Measurement.date).all():
    p.append(row)
# for StringDate in p:
a = p[-12:]
print("Last 12 dates:")
for item in a:
    for item2 in item:
        print(item2)

Last 12 dates:
2017-08-12
2017-08-13
2017-08-14
2017-08-15
2017-08-16
2017-08-17
2017-08-18
2017-08-19
2017-08-20
2017-08-21
2017-08-22
2017-08-23

In [16]:
# Calculate the date 1 year ago from the last data point in the database
final_date = session.query(Measurement.date).all()
a=final_date[-1][0]
type(a)
year = a[0:4]
month = a[5:7]
day = a[8:]
fulldate = year+month+day
b = dt.date(int(year),int(month),int(day))
result = b.year-1 
result2 =dt.date(result, b.month, b.day)
result2

datetime.date(2016, 8, 23)

In [24]:
# Perform a query to retrieve the data (date??) and precipitation scores
precepi1 = session.query(Measurement.prcp, Measurement.date).all()
precepi1[:]

[(0.08, '2010-01-01'),
 (0.0, '2010-01-02'),
 (0.0, '2010-01-03'),
 (0.0, '2010-01-04'),
 (None, '2010-01-06'),
 (0.06, '2010-01-07'),
 (0.0, '2010-01-08'),
 (0.0, '2010-01-09'),
 (0.0, '2010-01-10'),
 (0.01, '2010-01-11'),
 (0.0, '2010-01-12'),
 (0.0, '2010-01-14'),
 (0.0, '2010-01-15'),
 (0.0, '2010-01-16'),
 (0.0, '2010-01-17'),
 (0.0, '2010-01-18'),
 (0.0, '2010-01-19'),
 (0.0, '2010-01-20'),
 (0.0, '2010-01-21'),
 (0.0, '2010-01-22'),
 (0.0, '2010-01-23'),
 (0.01, '2010-01-24'),
 (0.0, '2010-01-25'),
 (0.04, '2010-01-26'),
 (0.12, '2010-01-27'),
 (0.0, '2010-01-28'),
 (None, '2010-01-30'),
 (0.03, '2010-01-31'),
 (0.01, '2010-02-01'),
 (None, '2010-02-03'),
 (0.01, '2010-02-04'),
 (0.0, '2010-02-05'),
 (0.0, '2010-02-06'),
 (0.0, '2010-02-07'),
 (0.0, '2010-02-08'),
 (0.0, '2010-02-09'),
 (0.0, '2010-02-11'),
 (0.02, '2010-02-12'),
 (0.01, '2010-02-13'),
 (0.0, '2010-02-14'),
 (0.0, '2010-02-15'),
 (0.0, '2010-02-16'),
 (0.0, '2010-02-17'),
 (None, '2010-02-19'),
 (0.03, '2010-02-20'),
 (0.0, '2010-02-21'),
 (0.0, '2010-02-22'),
 (0.0, '2010-02-23'),
 (0.0, '2010-02-24'),
 (0.0, '2010-02-25'),
 (0.0, '2010-02-26'),
 (0.0, '2010-02-28'),
 (0.01, '2010-03-01'),
 (0.0, '2010-03-02'),
 (0.0, '2010-03-03'),
 (0.12, '2010-03-04'),
 (0.08, '2010-03-05'),
 (0.03, '2010-03-06'),
 (0.0, '2010-03-07'),
 (0.43, '2010-03-08'),
 (0.06, '2010-03-09'),
 (None, '2010-03-11'),
 (0.0, '2010-03-12'),
 (0.0, '2010-03-13'),
 (0.0, '2010-03-14'),
 (0.06, '2010-03-15'),
 (0.0, '2010-03-17'),
 (0.0, '2010-03-18'),
 (0.0, '2010-03-21'),
 (0.0, '2010-03-22'),
 (0.0, '2010-03-23'),
 (0.0, '2010-03-24'),
 (None, '2010-03-26'),
 (0.0, '2010-03-27'),
 (0.0, '2010-03-28'),
 (0.0, '2010-03-29'),
 (0.0, '2010-03-30'),
 (0.0, '2010-03-31'),
 (0.0, '2010-04-01'),
 (0.01, '2010-04-02'),
 (0.17, '2010-04-03'),
 (0.15, '2010-04-04'),
 (0.27, '2010-04-05'),
 (0.01, '2010-04-06'),
 (0.0, '2010-04-08'),
 (0.01, '2010-04-09'),
 (0.0, '2010-04-10'),
 (0.01, '2010-04-11'),
 (0.01, '2010-04-12'),
 (0.0, '2010-04-13'),
 (0.0, '2010-04-15'),
 (0.01, '2010-04-16'),
 (0.0, '2010-04-17'),
 (0.0, '2010-04-18'),
 (0.0, '2010-04-19'),
 (0.04, '2010-04-20'),
 (0.01, '2010-04-21'),
 (0.0, '2010-04-22'),
 (0.02, '2010-04-23'),
 (0.0, '2010-04-24'),
 (0.0, '2010-04-25'),
 (0.0, '2010-04-26'),
 (0.0, '2010-04-28'),
 (0.0, '2010-04-30'),
 (0.0, '2010-05-01'),
 (0.03, '2010-05-02'),
 (0.2, '2010-05-03'),
 (0.08, '2010-05-04'),
 (0.01, '2010-05-05'),
 (0.0, '2010-05-06'),
 (0.05, '2010-05-07'),
 (0.0, '2010-05-08'),
 (0.0, '2010-05-09'),
 (0.0, '2010-05-10'),
 (0.0, '2010-05-11'),
 (0.0, '2010-05-13'),
 (0.0, '2010-05-14'),
 (0.0, '2010-05-15'),
 (0.03, '2010-05-16'),
 (0.0, '2010-05-17'),
 (0.0, '2010-05-18'),
 (0.0, '2010-05-19'),
 (None, '2010-05-21'),
 (0.0, '2010-05-22'),
 (0.05, '2010-05-23'),
 (0.0, '2010-05-24'),
 (0.0, '2010-05-25'),
 (0.02, '2010-05-26'),
 (0.0, '2010-05-27'),
 (0.0, '2010-05-28'),
 (0.0, '2010-05-29'),
 (0.0, '2010-05-30'),
 (0.0, '2010-05-31'),
 (0.0, '2010-06-01'),
 (0.01, '2010-06-02'),
 (0.0, '2010-06-03'),
 (0.0, '2010-06-04'),
 (0.0, '2010-06-05'),
 (0.0, '2010-06-06'),
 (0.0, '2010-06-07'),
 (0.0, '2010-06-08'),
 (0.0, '2010-06-09'),
 (0.0, '2010-06-10'),
 (0.0, '2010-06-11'),
 (0.0, '2010-06-12'),
 (0.0, '2010-06-13'),
 (0.0, '2010-06-14'),
 (0.0, '2010-06-15'),
 (0.0, '2010-06-16'),
 (0.0, '2010-06-17'),
 (0.0, '2010-06-18'),
 (0.0, '2010-06-19'),
 (0.0, '2010-06-20'),
 (0.0, '2010-06-21'),
 (0.0, '2010-06-22'),
 (0.0, '2010-06-23'),
 (0.0, '2010-06-24'),
 (0.0, '2010-06-25'),
 (0.02, '2010-06-26'),
 (0.0, '2010-06-27'),
 (0.0, '2010-06-28'),
 (0.0, '2010-06-29'),
 (0.0, '2010-06-30'),
 (0.01, '2010-07-01'),
 (0.05, '2010-07-02'),
 (0.09, '2010-07-03'),
 (0.05, '2010-07-04'),
 (0.06, '2010-07-05'),
 (0.08, '2010-07-06'),
 (0.08, '2010-07-07'),
 (0.03, '2010-07-08'),
 (0.06, '2010-07-09'),
 (0.09, '2010-07-10'),
 (0.0, '2010-07-11'),
 (0.0, '2010-07-12'),
 (0.0, '2010-07-13'),
 (None, '2010-07-16'),
 (0.02, '2010-07-17'),
 (0.0, '2010-07-18'),
 (0.04, '2010-07-19'),
 (0.0, '2010-07-21'),
 (0.0, '2010-07-22'),
 (0.0, '2010-07-24'),
 (0.0, '2010-07-25'),
 (0.0, '2010-07-26'),
 (0.0, '2010-07-27'),
 (0.0, '2010-07-28'),
 (0.0, '2010-07-29'),
 (0.0, '2010-07-30'),
 (0.02, '2010-07-31'),
 (0.04, '2010-08-01'),
 (0.01, '2010-08-02'),
 (0.02, '2010-08-03'),
 (0.07, '2010-08-04'),
 (0.08, '2010-08-05'),
 (0.03, '2010-08-06'),
 (0.0, '2010-08-07'),
 (0.0, '2010-08-08'),
 (0.0, '2010-08-09'),
 (0.0, '2010-08-10'),
 (0.0, '2010-08-11'),
 (0.0, '2010-08-12'),
 (0.0, '2010-08-13'),
 (0.0, '2010-08-14'),
 (0.01, '2010-08-15'),
 (0.0, '2010-08-16'),
 (0.05, '2010-08-17'),
 (0.0, '2010-08-18'),
 (0.0, '2010-08-19'),
 (0.0, '2010-08-20'),
 (0.0, '2010-08-21'),
 (0.0, '2010-08-22'),
 (0.01, '2010-08-23'),
 (0.0, '2010-08-24'),
 (0.04, '2010-08-25'),
 (0.03, '2010-08-26'),
 (0.0, '2010-08-27'),
 (0.04, '2010-08-28'),
 (0.0, '2010-08-29'),
 (0.0, '2010-08-30'),
 (0.0, '2010-08-31'),
 (0.0, '2010-09-01'),
 (0.02, '2010-09-02'),
 (0.04, '2010-09-03'),
 (0.01, '2010-09-04'),
 (0.0, '2010-09-05'),
 (0.0, '2010-09-06'),
 (0.06, '2010-09-07'),
 (0.0, '2010-09-08'),
 (0.0, '2010-09-09'),
 (0.0, '2010-09-10'),
 (0.05, '2010-09-11'),
 (0.0, '2010-09-12'),
 (0.0, '2010-09-13'),
 (0.0, '2010-09-14'),
 (0.0, '2010-09-15'),
 (0.0, '2010-09-16'),
 (0.0, '2010-09-17'),
 (0.0, '2010-09-19'),
 (0.0, '2010-09-20'),
 (0.0, '2010-09-21'),
 (0.04, '2010-09-22'),
 (0.0, '2010-09-23'),
 (0.0, '2010-09-24'),
 (0.0, '2010-09-25'),
 (0.0, '2010-09-26'),
 (0.0, '2010-09-27'),
 (0.0, '2010-09-28'),
 (0.0, '2010-09-29'),
 (0.57, '2010-09-30'),
 (0.31, '2010-10-01'),
 (0.03, '2010-10-02'),
 (0.0, '2010-10-03'),
 (0.06, '2010-10-04'),
 (0.0, '2010-10-05'),
 (0.0, '2010-10-06'),
 (0.0, '2010-10-07'),
 (0.0, '2010-10-08'),
 (0.0, '2010-10-09'),
 (0.0, '2010-10-10'),
 (0.0, '2010-10-11'),
 (0.0, '2010-10-12'),
 (0.0, '2010-10-13'),
 (0.0, '2010-10-15'),
 (0.0, '2010-10-16'),
 (0.0, '2010-10-17'),
 (0.0, '2010-10-18'),
 (0.07, '2010-10-19'),
 (0.0, '2010-10-20'),
 (0.0, '2010-10-21'),
 (0.0, '2010-10-22'),
 (0.0, '2010-10-23'),
 (0.0, '2010-10-24'),
 (0.0, '2010-10-25'),
 (0.07, '2010-10-26'),
 (0.05, '2010-10-27'),
 (0.06, '2010-10-28'),
 (0.03, '2010-10-29'),
 (0.02, '2010-10-30'),
 (0.0, '2010-10-31'),
 (0.01, '2010-11-01'),
 (0.01, '2010-11-02'),
 (None, '2010-11-04'),
 (0.0, '2010-11-05'),
 (0.0, '2010-11-06'),
 (0.0, '2010-11-07'),
 (0.0, '2010-11-08'),
 (0.0, '2010-11-09'),
 (0.23, '2010-11-10'),
 (0.0, '2010-11-11'),
 (0.0, '2010-11-12'),
 (0.0, '2010-11-13'),
 (0.0, '2010-11-16'),
 (0.0, '2010-11-17'),
 (None, '2010-11-19'),
 (0.03, '2010-11-20'),
 (0.0, '2010-11-21'),
 (0.0, '2010-11-22'),
 (0.0, '2010-11-23'),
 (0.0, '2010-11-24'),
 (0.0, '2010-11-25'),
 (0.0, '2010-11-27'),
 (0.0, '2010-11-28'),
 (0.0, '2010-11-29'),
 (0.0, '2010-11-30'),
 (0.04, '2010-12-01'),
 (0.0, '2010-12-03'),
 (0.0, '2010-12-04'),
 (0.0, '2010-12-06'),
 (0.0, '2010-12-07'),
 (0.0, '2010-12-08'),
 (0.0, '2010-12-09'),
 (1.58, '2010-12-10'),
 (0.77, '2010-12-11'),
 (0.0, '2010-12-12'),
 (0.0, '2010-12-13'),
 (0.0, '2010-12-14'),
 (0.0, '2010-12-15'),
 (0.0, '2010-12-16'),
 (0.0, '2010-12-17'),
 (0.0, '2010-12-18'),
 (1.4, '2010-12-19'),
 (0.0, '2010-12-23'),
 (0.0, '2010-12-24'),
 (None, '2010-12-26'),
 (0.13, '2010-12-27'),
 (0.55, '2010-12-28'),
 (0.06, '2010-12-29'),
 (0.01, '2010-12-30'),
 (0.0, '2010-12-31'),
 (0.0, '2011-01-01'),
 (0.0, '2011-01-02'),
 (0.0, '2011-01-03'),
 (0.0, '2011-01-04'),
 (0.0, '2011-01-05'),
 (0.01, '2011-01-06'),
 (0.0, '2011-01-07'),
 (0.0, '2011-01-08'),
 (0.0, '2011-01-09'),
 (0.0, '2011-01-10'),
 (0.09, '2011-01-11'),
 (None, '2011-01-13'),
 (0.03, '2011-01-14'),
 (0.0, '2011-01-15'),
 (0.0, '2011-01-16'),
 (0.0, '2011-01-17'),
 (0.0, '2011-01-18'),
 (0.03, '2011-01-19'),
 (0.0, '2011-01-20'),
 (0.0, '2011-01-21'),
 (0.0, '2011-01-22'),
 (0.0, '2011-01-23'),
 (0.0, '2011-01-24'),
 (0.0, '2011-01-25'),
 (0.0, '2011-01-27'),
 (0.0, '2011-01-28'),
 (0.0, '2011-01-29'),
 (0.0, '2011-01-30'),
 (0.22, '2011-01-31'),
 (0.0, '2011-02-01'),
 (0.0, '2011-02-02'),
 (0.0, '2011-02-03'),
 (0.0, '2011-02-04'),
 (0.0, '2011-02-05'),
 (0.0, '2011-02-06'),
 (1.29, '2011-02-07'),
 (1.3, '2011-02-08'),
 (0.0, '2011-02-09'),
 (0.29, '2011-02-10'),
 (None, '2011-02-12'),
 (0.0, '2011-02-13'),
 (0.04, '2011-02-14'),
 (0.05, '2011-02-15'),
 (0.0, '2011-02-16'),
 (0.0, '2011-02-19'),
 (1.72, '2011-02-20'),
 (0.0, '2011-02-21'),
 (0.82, '2011-02-22'),
 (0.0, '2011-02-23'),
 (0.2, '2011-02-24'),
 (0.0, '2011-02-25'),
 (0.0, '2011-02-26'),
 (0.0, '2011-02-27'),
 (0.0, '2011-02-28'),
 (0.1, '2011-03-01'),
 (0.0, '2011-03-02'),
 (0.0, '2011-03-03'),
 (0.88, '2011-03-04'),
 (0.4, '2011-03-05'),
 (0.03, '2011-03-06'),
 (None, '2011-03-08'),
 (0.2, '2011-03-09'),
 (0.15, '2011-03-10'),
 (0.0, '2011-03-12'),
 (0.0, '2011-03-13'),
 (0.0, '2011-03-14'),
 (0.0, '2011-03-16'),
 (0.01, '2011-03-17'),
 (0.05, '2011-03-18'),
 (0.01, '2011-03-19'),
 (0.02, '2011-03-20'),
 (0.0, '2011-03-21'),
 (0.02, '2011-03-22'),
 (0.0, '2011-03-23'),
 (0.06, '2011-03-24'),
 (0.0, '2011-03-25'),
 (0.0, '2011-03-26'),
 (0.0, '2011-03-27'),
 (0.04, '2011-03-28'),
 (0.0, '2011-03-30'),
 (0.0, '2011-03-31'),
 (0.05, '2011-04-01'),
 (0.04, '2011-04-02'),
 (0.0, '2011-04-03'),
 (0.0, '2011-04-04'),
 (0.0, '2011-04-05'),
 (0.09, '2011-04-06'),
 (1.11, '2011-04-07'),
 (0.36, '2011-04-08'),
 (0.02, '2011-04-09'),
 (0.0, '2011-04-10'),
 (0.0, '2011-04-11'),
 (0.0, '2011-04-12'),
 (0.0, '2011-04-13'),
 (0.0, '2011-04-15'),
 (0.12, '2011-04-16'),
 (0.0, '2011-04-17'),
 (0.0, '2011-04-18'),
 (0.0, '2011-04-19'),
 (0.0, '2011-04-20'),
 (0.0, '2011-04-21'),
 (0.0, '2011-04-22'),
 (0.0, '2011-04-23'),
 (0.0, '2011-04-24'),
 (0.0, '2011-04-25'),
 (0.0, '2011-04-26'),
 (0.0, '2011-04-27'),
 (0.0, '2011-04-29'),
 (0.04, '2011-04-30'),
 (0.0, '2011-05-01'),
 (0.0, '2011-05-02'),
 (2.1, '2011-05-03'),
 (0.02, '2011-05-04'),
 (0.12, '2011-05-05'),
 (0.12, '2011-05-06'),
 (0.55, '2011-05-07'),
 (0.55, '2011-05-08'),
 (0.02, '2011-05-09'),
 (0.11, '2011-05-10'),
 (0.1, '2011-05-11'),
 (0.0, '2011-05-12'),
 (0.0, '2011-05-13'),
 (0.0, '2011-05-14'),
 (0.0, '2011-05-15'),
 (0.0, '2011-05-16'),
 (0.0, '2011-05-17'),
 (0.0, '2011-05-18'),
 (0.01, '2011-05-19'),
 (0.0, '2011-05-20'),
 (0.0, '2011-05-21'),
 (0.06, '2011-05-22'),
 (0.02, '2011-05-23'),
 (0.0, '2011-05-24'),
 (0.0, '2011-05-25'),
 (0.0, '2011-05-26'),
 (0.0, '2011-05-27'),
 (0.0, '2011-05-28'),
 (0.0, '2011-05-29'),
 (0.0, '2011-05-30'),
 (0.05, '2011-05-31'),
 (0.07, '2011-06-01'),
 (0.0, '2011-06-02'),
 (0.56, '2011-06-03'),
 (0.89, '2011-06-04'),
 (0.0, '2011-06-05'),
 (0.0, '2011-06-06'),
 (0.0, '2011-06-07'),
 (0.03, '2011-06-08'),
 (0.01, '2011-06-09'),
 (0.0, '2011-06-10'),
 (0.0, '2011-06-11'),
 (0.0, '2011-06-12'),
 (0.0, '2011-06-13'),
 (0.0, '2011-06-14'),
 (0.0, '2011-06-15'),
 (0.0, '2011-06-17'),
 (0.0, '2011-06-18'),
 (0.05, '2011-06-19'),
 (0.06, '2011-06-20'),
 (0.07, '2011-06-21'),
 (None, '2011-06-24'),
 (0.0, '2011-06-25'),
 (0.0, '2011-06-26'),
 (0.01, '2011-06-27'),
 (0.01, '2011-06-28'),
 (0.0, '2011-06-29'),
 (0.05, '2011-07-01'),
 (0.02, '2011-07-02'),
 (0.0, '2011-07-03'),
 (0.0, '2011-07-04'),
 (0.01, '2011-07-05'),
 (0.01, '2011-07-06'),
 (0.01, '2011-07-07'),
 (0.0, '2011-07-08'),
 (0.03, '2011-07-09'),
 (0.02, '2011-07-10'),
 (0.0, '2011-07-11'),
 (0.0, '2011-07-12'),
 (0.15, '2011-07-13'),
 (0.0, '2011-07-14'),
 (0.0, '2011-07-15'),
 (0.0, '2011-07-16'),
 (0.04, '2011-07-17'),
 (0.0, '2011-07-18'),
 (0.0, '2011-07-19'),
 (0.0, '2011-07-20'),
 (0.03, '2011-07-21'),
 (0.0, '2011-07-23'),
 (0.0, '2011-07-24'),
 (0.0, '2011-07-25'),
 (0.0, '2011-07-26'),
 (0.04, '2011-07-27'),
 (0.09, '2011-07-28'),
 (0.04, '2011-07-29'),
 (0.12, '2011-07-30'),
 (0.0, '2011-07-31'),
 (0.0, '2011-08-01'),
 (0.0, '2011-08-02'),
 (0.0, '2011-08-03'),
 (0.02, '2011-08-04'),
 (0.03, '2011-08-05'),
 (0.01, '2011-08-06'),
 (0.0, '2011-08-07'),
 (0.0, '2011-08-08'),
 (0.0, '2011-08-09'),
 (0.0, '2011-08-11'),
 (0.0, '2011-08-12'),
 (0.0, '2011-08-13'),
 (0.0, '2011-08-14'),
 (0.0, '2011-08-15'),
 (0.0, '2011-08-16'),
 (0.02, '2011-08-17'),
 (0.0, '2011-08-18'),
 (0.0, '2011-08-19'),
 (0.07, '2011-08-20'),
 (0.0, '2011-08-21'),
 (0.0, '2011-08-22'),
 (0.0, '2011-08-23'),
 (0.0, '2011-08-24'),
 (0.0, '2011-08-25'),
 (0.0, '2011-08-26'),
 (0.0, '2011-08-27'),
 (0.05, '2011-08-28'),
 (0.1, '2011-08-29'),
 (0.02, '2011-08-30'),
 (0.0, '2011-08-31'),
 (0.0, '2011-09-02'),
 (0.0, '2011-09-03'),
 (0.03, '2011-09-04'),
 (0.0, '2011-09-05'),
 (0.0, '2011-09-06'),
 (0.0, '2011-09-07'),
 (0.0, '2011-09-08'),
 (0.0, '2011-09-09'),
 (0.0, '2011-09-10'),
 (0.0, '2011-09-11'),
 (0.0, '2011-09-12'),
 (0.01, '2011-09-13'),
 (0.0, '2011-09-14'),
 (0.0, '2011-09-15'),
 (0.0, '2011-09-16'),
 (0.02, '2011-09-17'),
 (0.04, '2011-09-18'),
 (0.0, '2011-09-19'),
 (0.0, '2011-09-20'),
 (0.0, '2011-09-21'),
 (0.03, '2011-09-22'),
 (0.0, '2011-09-23'),
 (0.0, '2011-09-24'),
 (0.0, '2011-09-25'),
 (0.0, '2011-09-26'),
 (0.0, '2011-09-27'),
 (0.0, '2011-09-28'),
 (0.0, '2011-10-01'),
 (0.0, '2011-10-02'),
 (0.0, '2011-10-03'),
 (None, '2011-10-05'),
 (0.0, '2011-10-06'),
 (0.03, '2011-10-07'),
 (0.0, '2011-10-08'),
 (0.0, '2011-10-09'),
 (0.02, '2011-10-10'),
 (0.03, '2011-10-11'),
 (0.0, '2011-10-12'),
 (0.0, '2011-10-13'),
 (0.03, '2011-10-14'),
 (0.02, '2011-10-15'),
 (0.0, '2011-10-16'),
 (0.02, '2011-10-17'),
 (0.01, '2011-10-18'),
 (0.0, '2011-10-19'),
 (0.0, '2011-10-20'),
 (0.0, '2011-10-21'),
 (0.0, '2011-10-22'),
 (0.0, '2011-10-23'),
 (0.14, '2011-10-24'),
 (1.6, '2011-10-25'),
 (0.01, '2011-10-26'),
 (0.0, '2011-10-27'),
 (0.05, '2011-10-28'),
 (0.01, '2011-10-29'),
 (0.0, '2011-10-30'),
 (0.03, '2011-10-31'),
 (0.58, '2011-11-01'),
 (0.28, '2011-11-02'),
 (0.02, '2011-11-03'),
 (0.01, '2011-11-04'),
 (0.0, '2011-11-05'),
 (0.0, '2011-11-06'),
 (0.0, '2011-11-07'),
 (0.0, '2011-11-08'),
 (0.02, '2011-11-09'),
 (0.0, '2011-11-10'),
 (0.05, '2011-11-11'),
 (0.0, '2011-11-12'),
 (0.0, '2011-11-13'),
 (0.0, '2011-11-14'),
 (0.0, '2011-11-15'),
 (0.0, '2011-11-16'),
 (0.0, '2011-11-17'),
 (0.0, '2011-11-18'),
 (0.0, '2011-11-19'),
 (0.0, '2011-11-20'),
 (0.01, '2011-11-21'),
 (0.02, '2011-11-22'),
 (0.01, '2011-11-23'),
 (0.0, '2011-11-24'),
 (0.01, '2011-11-25'),
 (0.02, '2011-11-26'),
 (0.07, '2011-11-27'),
 (0.0, '2011-11-28'),
 (0.0, '2011-11-29'),
 (0.02, '2011-11-30'),
 (0.03, '2011-12-01'),
 (0.08, '2011-12-02'),
 (0.0, '2011-12-03'),
 (0.0, '2011-12-04'),
 (0.0, '2011-12-05'),
 (0.0, '2011-12-06'),
 (0.0, '2011-12-07'),
 (0.0, '2011-12-08'),
 (0.13, '2011-12-09'),
 (0.07, '2011-12-10'),
 (0.07, '2011-12-11'),
 (0.08, '2011-12-12'),
 (0.4, '2011-12-13'),
 (0.7, '2011-12-14'),
 (0.0, '2011-12-15'),
 (0.01, '2011-12-16'),
 (0.07, '2011-12-17'),
 (0.02, '2011-12-18'),
 (0.15, '2011-12-19'),
 (0.02, '2011-12-20'),
 (0.18, '2011-12-21'),
 (0.03, '2011-12-22'),
 (0.04, '2011-12-23'),
 (0.1, '2011-12-24'),
 (0.03, '2011-12-25'),
 (0.0, '2011-12-26'),
 (0.0, '2011-12-27'),
 (0.0, '2011-12-28'),
 (0.0, '2011-12-29'),
 (0.0, '2011-12-30'),
 (0.01, '2011-12-31'),
 (0.0, '2012-01-01'),
 (0.0, '2012-01-02'),
 (0.0, '2012-01-03'),
 (0.0, '2012-01-04'),
 (0.0, '2012-01-06'),
 (0.0, '2012-01-07'),
 (0.0, '2012-01-08'),
 (0.0, '2012-01-10'),
 (0.0, '2012-01-11'),
 (0.0, '2012-01-12'),
 (0.0, '2012-01-14'),
 (0.0, '2012-01-15'),
 (0.04, '2012-01-16'),
 (0.0, '2012-01-17'),
 (0.0, '2012-01-18'),
 (0.02, '2012-01-19'),
 (0.0, '2012-01-20'),
 (0.0, '2012-01-21'),
 (0.0, '2012-01-22'),
 (0.0, '2012-01-23'),
 (0.0, '2012-01-24'),
 (0.0, '2012-01-25'),
 (0.0, '2012-01-26'),
 (0.04, '2012-01-27'),
 (0.03, '2012-01-28'),
 (1.03, '2012-01-29'),
 (0.01, '2012-01-30'),
 (0.0, '2012-01-31'),
 (0.0, '2012-02-01'),
 (0.0, '2012-02-02'),
 (0.0, '2012-02-03'),
 (0.0, '2012-02-04'),
 (0.0, '2012-02-05'),
 (0.0, '2012-02-06'),
 (0.37, '2012-02-07'),
 (0.28, '2012-02-08'),
 (0.01, '2012-02-09'),
 (0.0, '2012-02-10'),
 (0.0, '2012-02-11'),
 (0.0, '2012-02-12'),
 (0.04, '2012-02-13'),
 (0.01, '2012-02-14'),
 (0.0, '2012-02-15'),
 (0.0, '2012-02-16'),
 (0.0, '2012-02-17'),
 (0.04, '2012-02-18'),
 (0.01, '2012-02-19'),
 (0.0, '2012-02-20'),
 (0.0, '2012-02-21'),
 (0.0, '2012-02-22'),
 (0.0, '2012-02-23'),
 (0.0, '2012-02-24'),
 (0.0, '2012-02-25'),
 (0.05, '2012-02-26'),
 (0.06, '2012-02-27'),
 (0.0, '2012-02-28'),
 (0.0, '2012-02-29'),
 (0.06, '2012-03-01'),
 (0.0, '2012-03-02'),
 (0.03, '2012-03-03'),
 (0.01, '2012-03-04'),
 (1.08, '2012-03-05'),
 (4.0, '2012-03-06'),
 (2.42, '2012-03-07'),
 (0.02, '2012-03-08'),
 (0.19, '2012-03-09'),
 (0.06, '2012-03-10'),
 (0.0, '2012-03-11'),
 (0.03, '2012-03-12'),
 (0.0, '2012-03-13'),
 (0.0, '2012-03-14'),
 (0.0, '2012-03-15'),
 (0.05, '2012-03-16'),
 (0.0, '2012-03-17'),
 (0.0, '2012-03-18'),
 (0.0, '2012-03-19'),
 (0.0, '2012-03-20'),
 (0.0, '2012-03-21'),
 (0.03, '2012-03-22'),
 (0.01, '2012-03-23'),
 (0.0, '2012-03-24'),
 (0.0, '2012-03-25'),
 (0.11, '2012-03-26'),
 (0.03, '2012-03-27'),
 (0.02, '2012-03-28'),
 (0.0, '2012-03-29'),
 (0.0, '2012-03-30'),
 (0.0, '2012-03-31'),
 (0.0, '2012-04-01'),
 (0.0, '2012-04-02'),
 (0.0, '2012-04-03'),
 (0.0, '2012-04-04'),
 (0.19, '2012-04-05'),
 (0.0, '2012-04-06'),
 (0.03, '2012-04-07'),
 (0.0, '2012-04-08'),
 (0.07, '2012-04-09'),
 (0.05, '2012-04-10'),
 (0.06, '2012-04-11'),
 (0.0, '2012-04-12'),
 (0.03, '2012-04-13'),
 (0.0, '2012-04-14'),
 (0.01, '2012-04-15'),
 (0.01, '2012-04-16'),
 (0.0, '2012-04-17'),
 (0.0, '2012-04-18'),
 (0.0, '2012-04-19'),
 (0.0, '2012-04-20'),
 (0.01, '2012-04-21'),
 (0.04, '2012-04-22'),
 (0.03, '2012-04-23'),
 (0.0, '2012-04-24'),
 (0.0, '2012-04-25'),
 (0.0, '2012-04-26'),
 (0.0, '2012-04-27'),
 (0.0, '2012-04-28'),
 (0.0, '2012-04-29'),
 (0.0, '2012-04-30'),
 (0.0, '2012-05-01'),
 (0.0, '2012-05-02'),
 (0.0, '2012-05-03'),
 (0.0, '2012-05-04'),
 (0.04, '2012-05-05'),
 (0.0, '2012-05-06'),
 (0.0, '2012-05-07'),
 (0.0, '2012-05-08'),
 (0.0, '2012-05-09'),
 (0.0, '2012-05-10'),
 (0.0, '2012-05-11'),
 (0.0, '2012-05-12'),
 (0.0, '2012-05-13'),
 (0.0, '2012-05-14'),
 (0.0, '2012-05-15'),
 (0.0, '2012-05-16'),
 (0.0, '2012-05-17'),
 (0.0, '2012-05-18'),
 (0.0, '2012-05-19'),
 (0.0, '2012-05-20'),
 (0.0, '2012-05-21'),
 (0.0, '2012-05-22'),
 (0.0, '2012-05-23'),
 (0.0, '2012-05-24'),
 (0.0, '2012-05-25'),
 (0.0, '2012-05-26'),
 (0.0, '2012-05-27'),
 (0.0, '2012-05-28'),
 (0.0, '2012-05-29'),
 (0.0, '2012-05-30'),
 (0.01, '2012-05-31'),
 (0.02, '2012-06-01'),
 (0.02, '2012-06-02'),
 (0.0, '2012-06-03'),
 (0.0, '2012-06-04'),
 (0.0, '2012-06-05'),
 (0.0, '2012-06-06'),
 (0.0, '2012-06-07'),
 (None, '2012-06-08'),
 (None, '2012-06-09'),
 (0.0, '2012-06-10'),
 (0.0, '2012-06-11'),
 (0.0, '2012-06-12'),
 (0.0, '2012-06-13'),
 (0.0, '2012-06-14'),
 (0.0, '2012-06-15'),
 (0.0, '2012-06-16'),
 (0.0, '2012-06-17'),
 (0.0, '2012-06-18'),
 (0.0, '2012-06-19'),
 (0.0, '2012-06-20'),
 (0.0, '2012-06-21'),
 (0.0, '2012-06-22'),
 (0.0, '2012-06-23'),
 (0.0, '2012-06-24'),
 (0.03, '2012-06-25'),
 (0.15, '2012-06-26'),
 (0.01, '2012-06-27'),
 (0.0, '2012-06-28'),
 (0.05, '2012-06-29'),
 (0.0, '2012-06-30'),
 (0.0, '2012-07-01'),
 (0.0, '2012-07-02'),
 (0.04, '2012-07-03'),
 (0.01, '2012-07-04'),
 (0.03, '2012-07-05'),
 (0.0, '2012-07-06'),
 (0.04, '2012-07-07'),
 (0.0, '2012-07-08'),
 (None, '2012-07-09'),
 (0.0, '2012-07-10'),
 (0.0, '2012-07-11'),
 (0.0, '2012-07-12'),
 (0.0, '2012-07-13'),
 (0.0, '2012-07-14'),
 (0.0, '2012-07-15'),
 (0.01, '2012-07-16'),
 (0.0, '2012-07-17'),
 (0.0, '2012-07-18'),
 (0.0, '2012-07-19'),
 (0.0, '2012-07-20'),
 (0.0, '2012-07-21'),
 (0.0, '2012-07-22'),
 (0.0, '2012-07-23'),
 (0.0, '2012-07-24'),
 (0.0, '2012-07-25'),
 (0.02, '2012-07-26'),
 (0.0, '2012-07-27'),
 (0.0, '2012-07-28'),
 (0.01, '2012-07-29'),
 (0.01, '2012-07-30'),
 (0.0, '2012-07-31'),
 (0.0, '2012-08-01'),
 (0.0, '2012-08-02'),
 (0.0, '2012-08-03'),
 (0.0, '2012-08-04'),
 (0.0, '2012-08-05'),
 (0.0, '2012-08-06'),
 (0.0, '2012-08-07'),
 (0.02, '2012-08-08'),
 (0.0, '2012-08-09'),
 (0.0, '2012-08-10'),
 (0.0, '2012-08-11'),
 (0.0, '2012-08-12'),

In [34]:
# Save the query results as a Pandas DataFrame and set the index to the date column
df1 = pd.DataFrame(precepi1)
df1.set_index("date", inplace=True)
df1.rename(columns = {"prcp":"precipitation"})

            precipitation
date
2010-01-01           0.08
2010-01-02           0.00
2010-01-03           0.00
2010-01-04           0.00
2010-01-06            NaN
...                   ...
2017-08-19           0.09
2017-08-20            NaN
2017-08-21           0.56
2017-08-22           0.50
2017-08-23           0.45

[19550 rows x 1 columns]

In [40]:
# Sort the dataframe by date
df1 = df1.sort_values("date")
df1

            prcp
date
2010-01-01  0.08
2010-01-01  0.21
2010-01-01  0.15
2010-01-01  0.15
2010-01-01  0.05
...          ...
2017-08-22  0.00
2017-08-23  0.00
2017-08-23  0.08
2017-08-23  0.00
2017-08-23  0.45

[19550 rows x 1 columns]

In [ ]:
aaa= plt.plot(df1, title="Demo")

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

![precipitation](Images/precipitation.png)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`